---
layout: default
title: Data
redirect_from:
  - /MinervaHeart
  - /minervaheart
---

{% assign sectionId = page.url | split: '/' | last %}
{% assign config = sectionId | prepend: 'config-' %}

{% for yml_hash in site.data[config] %}
    {% if yml_hash[0] == 'index' %}
        {% assign pubData=yml_hash[1] %}
    {% endif %}
{% endfor %}

<section id="{{ sectionId }}">

<h2 class="h4">
    {{ pubData.publication.title | markdownify }}
</h2>
<p class="">
    {{ pubData.publication.authors | markdownify }}
    <br> {{ pubData.publication.journal | markdownify }}
</p>
<a href="{{ pubData.publication.link.url }}" target="_blank" class="lead">{{ pubData.publication.link.name }}</a>

{% include heart.svg %}

</section>
