---
layout: default
title: Data
---

{% assign pubData=site.data.du-lin-rashid-2019 %}
<section id="lin-elife-2018-paper">

<h2 class="h4">
    {{ pubData.publication.title }}
</h2>
<p class="">
    {{ pubData.publication.authors }}
    <br> {{ pubData.publication.journal }}
</p>
<a href="{{ pubData.publication.link.url }}" target="_blank" class="lead">{{ pubData.publication.link.name }}</a>


<h3>Available images</h3>

<div class="row">
{% for img in pubData['stitched mosaic images'] %}
<div class="media col-md-6 my-4">
    <img class="mt-1 mr-3 w-25" src="{{ site.baseurl }}{{ "/assets/img/du-lin-rashid-2019/" | append: img['thumbnail file name'] }}" alt="{{ img['thumbnail file name'] }}">
    <div class="media-body">
        <h5 class="mt-0 mb-2">{{ img.title }}</h5>
        <p>
            {{ img.description }}
        </p>
        {% for link_hash in img.links %}
            {% for link in link_hash %}
            <a class="btn btn-outline-primary m-1" href="{{ link[1] }}" {% if link[1] contains 'http' %} target="_blank" {% endif %}>{{ link[0] }}</a>
            {% endfor %}
        {% endfor %}
    </div>
</div>
{% endfor %}
</div>

</section>
