  body {
    background: black;
  }

  html {
    scrollbar-face-color: #646464;
    scrollbar-base-color: #646464;
    scrollbar-3dlight-color: #646464;
    scrollbar-highlight-color: #646464;
    scrollbar-track-color: #000;
    scrollbar-arrow-color: #000;
    scrollbar-shadow-color: #646464;
    scrollbar-dark-shadow-color: #646464;
  }
  ::-webkit-scrollbar { 
    width: 8px;
    height: 3px;
  }
  ::-webkit-scrollbar-button {
    background-color: #666;
  }
  ::-webkit-scrollbar-track {
    background-color: #646464;
  }
  ::-webkit-scrollbar-track-piece {
    background-color: #000;
  }
  ::-webkit-scrollbar-thumb {
    height: 50px;
    background-color: #666;
    border-radius: 3px;
  }
  ::-webkit-scrollbar-corner {
    background-color: #646464;
  }
  ::-webkit-resizer {
    background-color: #666;
  }

  #sidebar-menu {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    margin-left: 0px;
    width: 400px;
    left: 3px;
    top: 4rem;
  }
  #sidebar-menu.toggled {
    margin-left: -366px;
  }

  #legend {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }

  input[type="range"] {
  }

  #z-slider-legend {
    width: 60vh;
    right: 75px;
    transform: rotate(270deg);
    transform-origin: right;
  }

  #channel-groups-legend {
    width: 200px;
  }

  #legend.toggled {
    margin-right: -200px;
  }

  #sidebar-menu .open-sidebar {
    display: none;
  }
  #sidebar-menu .close-sidebar {
    display: inline;
  }
  #sidebar-menu.toggled .open-sidebar {
    display: inline;
  }
  #sidebar-menu.toggled .close-sidebar {
    display: none;
  }

  #legend .open-legend {
    display: none;
  }
  #legend .close-legend {
    display: inline;
  }
  #legend.toggled .open-legend {
    display: inline;
  }
  #legend.toggled .close-legend {
    display: none;
  } 
  /* position: absolute; top: 0; bottom: 0; width: 100%; */
  #openseadragon1 {
    /* position: absolute;
    top: 0;
    left: 0;
    bottom: 0; */
    width: 100%;
    height: 100vh;
    pointer-events: fill;
    /* border: 1px solid #444; */
  }
  
  .openseadragon-canvas canvas {
    z-index: -2;
  }

  .openseadragon-canvas svg {
    z-index: -1;
  }

  .overlap {
    position: relative;
    pointer-events: none;
  }
  
  .btn:focus, .btn:active {
    outline: none !important;
    box-shadow: none !important;
  }
  
  a, .navbar-toggler {
    pointer-events: auto;
  }
  
  .bg-trans {
      background: hsla(0, 0%, 0%, 0.8);
  }

  .bg-black {
      background: #000;
  }
  
  #legend ul {
     /* margin-bottom: 0; */
  }
  
  .legend-label {
      display: inline-block;
      min-width: 4.5em;
  }
  
  .legend-color {
      margin-left: 0.5em;
      width: 1.5em;
      border-radius: 0;
      vertical-align: middle;
  }
  
  .overlay-title {
      color: white;
      text-align: center;
  }

  .nav-color-dark {
      color:  #495057 !important;
  }
  .green {
      color: palegreen;
  }
  .transparent {
      opacity: none;;
  }
  .white {
      color: white;
  }
  .red {
      color: red;
  }
  .collapsing {
      /* transition: none;
      display: none; */
  }
  
  .slide-border {
      border: 1px solid hsl(0, 0%, 20%);
  }
  
  .white.overlay {
      border: 2px solid white;
      background: none;
  }
  .green.overlay {
      border: 4px solid palegreen;
      background: none;
  }
  
  .right-padding {
      padding: .5rem 1rem;
  }
  
  .exhibit-content {
      /* padding: .5rem 1rem; */
  }
  .exhibit-content > .nav {
      background-color: hsla(0, 0%, 0%, 0.5);
  }
  .exhibit-content > .round-nav { 
      border-radius: 20px .25rem 0 0;
  }
  #edit-switches {
      position: absolute;
      height: 35px;
      bottom: 0;
      left: 0;
  }
  #story-nav {
      /* width: 400px; */
  }
  #story-nav-icons {
      /* position: absolute;
      bottom: 0; */
  }
  
  .exhibit-content .nav .nav-link {
      background-color: transparent;
      border: none;
      color: gray; 
  }
  .exhibit-content .nav .nav-link.active {
      background-color: transparent;
      border: none;
      color: white; 
  }
  .exhibit-content .nav-tabs .nav-link.active {
      border: 1px solid white;
  }
  /* .editable {
      background-color: white !important;
      border-radius: 0 !important;
      color: black !important;
  } */
  
  #story-content {
      /* width: 400px;
      height: 200px;
      padding: 10px;
      font-size: .75em;
      line-height: 1.3em;
      overflow-x: hidden;
      overflow-y: hidden;
      pointer-events: all;
      background-color: black;
      border: 1px solid white; */
  }
  
  #story-content p {
      /* margin-bottom: 0.5em; */
  }
  
  #story-content .tab-pane {
      /* height: 100%; */
  }
  #story-content .row {
      /* height: 100%; */
  }
  
  .waypoint-content code {
      color: inherit;
      /* font-family: sans-serif; */
  }
  
  .vertical-bar {
      /* background-color: gray;
      margin-right: 5px;
      margin-left: 5px;
      margin-top: 15%;
      float: left;
      height: 80%;
      width: 1px; */
  }
  
  .waypoint-indices .btn {
      background-color: black;
      vertical-align: center;
      -moz-user-select: text;
      -webkit-user-select: text;
      user-select: text;
      text-align: right;
      padding: 0 5px 0 0;
      border: none;
      color: gray; 
  }
  .waypoint-indices .btn.active {
      background-color: black;
      border: none;
      color: white; 
  }
  
  .waypoint-content img {
      max-width: 100%;
  }
  .waypoint-content h1 {
      font-size: 1.25rem;
      margin: 0 0 1rem 0;
  }
  .waypoint-content h2 {
      font-size: 1.25rem;
      margin: 0 0 1rem 0;
  }
  .waypoint-content h3 {
      font-size: 1.1rem;
      margin: 0 0 1rem 0;
  }
  .waypoint-content h4 {
      font-size: 1.1rem;
      margin: 0 0 1rem 0;
  }
  .waypoint-content h5 {
      font-size: 1rem;
      margin: 0 0 1rem 0;
  }
  .waypoint-content h6 {
      font-size: 1rem;
      margin: 0 0 1rem 0;
  }
  
  /* .waypoint-content .edit_text {
      background-color: black;
      margin: -5px -5px 0 -5px;
      padding: 0 5px 0 5px;
      font-size: .7rem;
      line-height: .95rem;
      box-shadow: none;
      outline: none;
      border: none;
      color: white;
      width: 100%;
      resize: none;
  } */
  .waypoint-content .edit_code {
      font-family: monospace;
      /* display: block; */
  }
  
  .waypoint-content .copy_yaml_input {
      position: absolute;
      z-index: 100;
      bottom: 0;
      right: 0;
  }
  
  .copy_yaml_input button {
      background-color: black; 
      /* border: 1px solid white; */
      /* padding: 0 5px 0 5px; */
      pointer-events: all;
      /* margin-left: 5px; */
      height: 100%;
      color: white; 
  }
  
  .channel-picker {
      border-style: solid;
      border-color: hsl(0, 0%, 70%);
      border-width: 1px 0;
  }
  
  .channel-picker:first-child {
      border-left-width: 1px;
  }
  
  .channel-picker:last-child {
      border-right-width: 1px;
  }

  #story-title-sticky {
    position: fixed;
    z-index: 999;
}

polygon {
    fill: rgba(70, 130, 180, 0.0);
    stroke: white;
    stroke-width: 2px;
    vector-effect: non-scaling-stroke;
}

.matrix-label {
    font-size: 8px;
    color: white;
    fill : white;
}

.matrix-row-label {
    font-size: 8px;
    color: white;
    fill : white;
    border: 1px;
    border-color:crimson;
}

.colorLegend{
    font-size: 8px;
    color: white;
    fill : white;
}

.tooltip {
    position: absolute;
    margin-top: 3px;
    text-align: center;
    width: 60px;
    height: 28px;
    padding: 2px;
    font: 12px sans-serif;
    background: black;
    color: white;
    border: 0px;
    border-radius: 5px;
    pointer-events: none;
}

.bar {
    fill: steelblue;
}

.bar:hover {
    fill: #a6cee3;
}

.axis--x path {
    display: none;
}

/*polygon:hover{*/
/*    fill: rgba(70, 130, 180, 0.1);*/
/*    stroke: red;*/
/*    stroke-width: 2px;*/
/*    vector-effect: non-scaling-stroke;*/
/*}*/

/* Start CSS Style Generator for Range Inputs */
input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: 12.5px 0;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.13), 0px 0px 1px rgba(13, 13, 13, 0.13);
  background: #f8f8f8;
  border-radius: 0px;
  border: 0px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1.8px 1.8px 5.9px rgba(0, 133, 204, 0.55), 0px 0px 1.8px rgba(0, 150, 230, 0.55);
  border: 0px solid #0085cc;
  height: 35px;
  width: 16px;
  border-radius: 3px;
  background: rgba(15, 171, 255, 0.93);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -12.5px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #ffffff;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.13), 0px 0px 1px rgba(13, 13, 13, 0.13);
  background: #f8f8f8;
  border-radius: 0px;
  border: 0px solid #010101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1.8px 1.8px 5.9px rgba(0, 133, 204, 0.55), 0px 0px 1.8px rgba(0, 150, 230, 0.55);
  border: 0px solid #0085cc;
  height: 35px;
  width: 16px;
  border-radius: 3px;
  background: rgba(15, 171, 255, 0.93);
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #ebebeb;
  border: 0px solid #010101;
  border-radius: 0px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.13), 0px 0px 1px rgba(13, 13, 13, 0.13);
}
input[type=range]::-ms-fill-upper {
  background: #f8f8f8;
  border: 0px solid #010101;
  border-radius: 0px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.13), 0px 0px 1px rgba(13, 13, 13, 0.13);
}
input[type=range]::-ms-thumb {
  box-shadow: 1.8px 1.8px 5.9px rgba(0, 133, 204, 0.55), 0px 0px 1.8px rgba(0, 150, 230, 0.55);
  border: 0px solid #0085cc;
  height: 35px;
  width: 16px;
  border-radius: 3px;
  background: rgba(15, 171, 255, 0.93);
  cursor: pointer;
  height: 10px;
}
input[type=range]:focus::-ms-fill-lower {
  background: #f8f8f8;
}
input[type=range]:focus::-ms-fill-upper {
  background: #ffffff;
}
/* End CSS Style Generator for Range Inputs */
