---
---
@import "bootstrap/functions";
@import "bootstrap/bootstrap";

@font-face {
  font-family: 'Hind Vadodara';
  font-style: normal;
  font-weight: 500;
  src: url(https://fonts.gstatic.com/s/hindvadodara/v13/neIQzCKvrIcn5pbuuuriV9tTSGH2uXQ-pQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 200;
  src: url(https://fonts.gstatic.com/s/overpass/v12/qFda35WCmI96Ajtm83upeyoaX6QPnlo6fPPbPpqP.ttf) format('truetype');
}
@font-face {
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 800;
  src: url(https://fonts.gstatic.com/s/overpass/v12/qFda35WCmI96Ajtm83upeyoaX6QPnlo6fPTbPpqP.ttf) format('truetype');
}

* {
  --font-family-sans-serif: Overpass, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --font-family-heading: "Hind Vadodara", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --headings-margin-bottom: 0.5rem;
  --font-size-base: 0.9rem;
  --body-color: #eee;
  --body-bg: #111;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin-top: var(--headings-margin-bottom);
  font-family: var(--font-family-heading);
}

section#main_content {
  @extend .mt-5
}

body {
  letter-spacing: 0.02em;
  font-family: var(--font-family-sans-serif);
  font-size: var(--font-size-base);
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
  text-align: left;
  color: var(--body-color);
  background-color: var(--body-bg);
}

svg a:hover text {
  text-decoration: underline;
  fill: #0fabff;
}

.banner-text-container,
.banner-tall {
  background-color: rgba(0, 0, 0, 0.3);
}
.banner-tall {
  min-height: 75vh;
}
@include media-breakpoint-down(sm) {
  .banner-tall{
    min-height: auto;
  }
}

hr {
    height: 0.1rem;
    @extend .my-5
}

.select2-results ul {
  color: black;
}

.plot {
  position: absolute;
}

#plot-canvas {
  z-index: 2;
}

#axis-svg {
  z-index: 1;
}

.axis path,
.axis line {
  fill: none;
  stroke: white;
  shape-rendering: crispEdges;
}

.tick line{
  opacity: 0.2;
}

.legend{
  z-index: 3;
  float:left;
}

div.datalist-wrapper {
  gap: 1em;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 10em;
}

div.datalist-wrapper > h1 {
  margin: 0;
}

div.datalist-wrapper > datalist {
  display: block;
  overflow: scroll;
  grid-column: 1 / 3;
}
