---
---
@import "bootstrap/functions";
@import "bootstrap/bootstrap";
@import "variables";
@import "img_video";

div.datalist-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 10em;
}

div.datalist-wrapper > datalist {
  display: block;
  overflow: scroll;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin-top: $headings-margin-bottom * 1.5;
  font-family: $font-family-heading;
}

section#main_content {
  @extend .mt-5
}

body {
  letter-spacing: 0.02em;
  font-family: $font-family-sans-serif;
  font-size: $font-size-base;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
  color: $body-color;
  text-align: left;
  background-color: $body-bg;
}

svg a:hover text {
  text-decoration: underline;
  fill: #0fabff;
}

.banner-text-container,
.banner-tall {
  background-color: rgba(0, 0, 0, 0.3);
}
.banner-tall {
  min-height: 75vh;
}
@include media-breakpoint-down(sm) {
  .banner-tall{
    min-height: auto;
  }
}

hr {
    height: 0.1rem;
    @extend .my-5
}

.select2-results ul {
  color: black;
}

.plot {
  position: absolute;
}

#plot-canvas {
  z-index: 2;
}

#axis-svg {
  z-index: 1;
}

.axis path,
.axis line {
  fill: none;
  stroke: white;
  shape-rendering: crispEdges;
}

.tick line{
  opacity: 0.2;
}

.legend{
  z-index: 3;
  float:left;
}
