---
layout: default
title: Data
---
{% assign sectionId = page.url | split: '/' | last %}
{% assign config = sectionId | prepend: 'config-' %}

{% for yml_hash in site.data[config] %}
    {% if yml_hash[0] == 'index' %}
        {% assign pubData=yml_hash[1] %}
    {% endif %}
{% endfor %}

<section id="{{ sectionId }}">

<h2>
    {{ pubData.publication.title }}
</h2>
<p>
    {{ pubData.publication.authors }}
    <br> {{ pubData.publication.journal }}
</p>
<a href="{{ pubData.publication.link.url }}" target="_blank" class="lead">{{ pubData.publication.link.name }}</a>


<h3>Available images</h3>
<div class="row px-2">
    <div class="col-12 bg-white">
        {% include_relative svg-liu-lin-2019.html %}
    </div>
</div>

<div class='d-block d-xl-none'>
{% for group in pubData['group object'] %}
<h4>{{ group[0] | markdownify }}</h4>
<div class="row">
    {% for img in group[1] %}
    <div class="media col-md-6 my-4" id="{{ img['thumbnail file name'] | replace: '.jpg', '' }}">
        {% capture imgSrc %}
        {{ site.baseurl }}/assets/img/{{ sectionId }}/{{ img['thumbnail file name'] }}
        {% endcapture %}
        {% if img['thumbnail file name'] contains 'http' %}
            {% assign imgSrc = img['thumbnail file name']%}
        {% endif %}
        <img class="mt-1 mr-3 w-25" src="{{ imgSrc }}" alt="{{ img['thumbnail file name'] }}">
        <div class="media-body">
            <h5 class="mt-0 mb-2">{{ img.title | markdownify }}</h5>
            <p>
                {{ img.description | markdownify }}
            </p>
            {% for link_hash in img.links %}
                {% for link in link_hash %}
                <a class="btn btn-outline-primary m-1" href="{{ link[1] }}" {% if link[1] contains 'http' %} target="_blank" {% endif %}>{{ link[0] }}</a>
                {% endfor %}
            {% endfor %}
        </div>
    </div>
    {% endfor %}
</div>
{% endfor %}
</div>

</section>
