---
layout: default
title: Data
---

{% assign pubData=site.data.liu-2019 %}
<section id="lin-elife-2018-paper">

<h2 class="h4">
    {{ pubData.publication.title }}
</h2>
<p class="">
    {{ pubData.publication.authors }}
    <br> {{ pubData.publication.journal }}
</p>
<a href="{{ pubData.publication.link.url }}" target="_blank" class="lead">{{ pubData.publication.link.name }}</a>


<h3>Available images</h3>
<div class="row bg-white">
    <div class="col-12">
        <img class="img-fluid w-100 px-4 bg-white pt-2 mb-0" src="/assets/img/liu-2019/fig1_top.jpg" alt="">
    </div>
    <div class="col-12 collapse" id="fig1_bottom">
        <img class="img-fluid w-100 px-4 bg-white pb-2 mb-0" src="/assets/img/liu-2019/fig1_bottom.jpg" alt="">
    </div>
    <div class="col-12 text-center text-dark">
            <p class="h6 my-3">Jump to a image by clicking the dots.</p>
    </div>
    <div class="col-1"></div>
    <div class="col-6">
        <canvas id="lineageChart1" height="300"></canvas>
    </div>
    <div class="col-2">
        <canvas id="lineageChart2" ></canvas>
    </div>
    <div class="col-3">
        <canvas id="lineageChart3" ></canvas>
    </div>
    <div class="col-12 text-center border-top">
        <button class="btn btn-primary my-3" type="button" data-toggle="collapse" data-target="#fig1_bottom" aria-expanded="false" aria-controls="fig1_bottom">
            Show lineage details
        </button>
    </div>
</div>
<div class="row">
{% for img in pubData['stitched mosaic images'] %}
<div class="media col-md-6 py-4" id="{{ img['thumbnail file name'] | replace: '.jpg', '' }}">
    <img class="mt-1 mr-3 w-25" src="{{ site.baseurl }}{{ "/assets/img/liu-2019/" | append: img['thumbnail file name'] }}" alt="{{ img['thumbnail file name'] }}">
    <div class="media-body">
        <h5 class="mt-0 mb-2">{{ img.title }}</h5>
        <p>
            {{ img.description }}
        </p>
        {% for link_hash in img.links %}
            {% for link in link_hash %}
            <a class="btn btn-outline-primary m-1" href="{{ link[1] }}" {% if link[1] contains 'http' %} target="_blank" {% endif %}>{{ link[0] }}</a>
            {% endfor %}
        {% endfor %}
    </div>
</div>
{% endfor %}
</div>
</section>

<script>
var ctx = document.getElementById('lineageChart1').getContext('2d');
var colors = [
    'rgba(96, 42, 175, 0.7)',
    'rgba(142, 229, 242, 0.7)',
    'rgba(138, 197, 75, 0.7)',
    'rgba(234, 177, 66, 0.7)',
    'rgba(234, 54, 57, 0.7)',
    'rgba(58, 96, 168, 0.7)'
    // 'rgba(255, 99, 132, 0.2)',
    // 'rgba(54, 162, 235, 0.2)',
    // 'rgba(255, 206, 86, 0.2)',
    // 'rgba(75, 192, 192, 0.2)',
    // 'rgba(153, 102, 255, 0.2)',
    // 'rgba(255, 159, 64, 0.2)'
];
var chart_config = {
    type: 'scatter',
    data: {
        datasets: [
            {
                pointRadius: 6,
                pointHoverRadius: 9,
                label: 'Lineage 1',
                data: [{
                    x: 27,
                    y: 60,
                    label: 'P8'
                }, {
                    x: 39,
                    y: 60,
                    label: 'PF'
                }, {
                    x: 62,
                    y: 58,
                    label: 'PG'
                }, {
                    x: 62,
                    y: 62,
                    label: 'PH'
                }, {
                    x: 76,
                    y: 60,
                    label: 'PL'
                }, {
                    x: 83,
                    y: 60,
                    label: 'P1'
                }, {
                    x: 92,
                    y: 58,
                    label: 'PM'
                }, {
                    x: 92,
                    y: 62,
                    label: 'PO'
                }, {
                    x: 109,
                    y: 60,
                    label: 'P2'
                }],
                backgroundColor: colors[0],
                borderColor: colors[0].replace('0.7', '1'),
                borderWidth: 1
            },
            {
                pointRadius: 6,
                pointHoverRadius: 9,
                label: 'Lineage 2',
                data: [{
                    x: -22,
                    y: 50,
                    label: 'P6'
                    
                }, {
                    x: 39,
                    y: 48,
                    label: 'PB'
                }, {
                    x: 39,
                    y: 52,
                    label: 'PE'
                }],
                backgroundColor: colors[1],
                borderColor: colors[1].replace('0.7', '1'),
                borderWidth: 1
            },
            {
                pointRadius: 6,
                pointHoverRadius: 9,
                label: 'Lineage 3',
                data: [{
                    x: 39,
                    y: 40,
                    label: 'PC'
                }, {
                    x: 92,
                    y: 40,
                    label: 'PP'
                }, {
                    x: 1028,
                    y: 40,
                    label: 'P4'
                }],
                backgroundColor: colors[2],
                borderColor: colors[2].replace('0.7', '1'),
                borderWidth: 1
            },
            {
                pointRadius: 6,
                pointHoverRadius: 9,
                label: 'Lineage 4',
                data: [{
                    x: 27,
                    y: 30,
                    label: 'P7'
                }, {
                    x: 76,
                    y: 28,
                    label: 'PJ'
                }, {
                    x: 76,
                    y: 32,
                    label: 'PK'
                }],
                backgroundColor: colors[3],
                borderColor: colors[3].replace('0.7', '1'),
                borderWidth: 1
            },
            {
                pointRadius: 6,
                pointHoverRadius: 9,
                label: 'Lineage 5',
                data: [{
                    x: 27,
                    y: 18,
                    label: 'P9'
                }, {
                    x: 27,
                    y: 22,
                    label: 'PA'
                }],
                backgroundColor: colors[4],
                borderColor: colors[4].replace('0.7', '1'),
                borderWidth: 1
            },
            {
                pointRadius: 6,
                pointHoverRadius: 9,
                label: 'Lineage 6',
                data: [{
                    x: -55,
                    y: 10,
                    label: 'N2'
                }, {
                    x: 1849,
                    y: 10,
                    label: 'N1'
                }, {
                    x: 1862,
                    y: 10,
                    label: 'N3'
                }],
                backgroundColor: colors[5],
                borderColor: colors[5].replace('0.7', '1'),
                borderWidth: 1
            },
        ]
    },
    options: {
        hover: {
            onHover: function(e) {
                var point = this.getElementAtEvent(e);
                e.target.style.cursor = point.length 
                    ? 'pointer'
                    : 'default';
            }
        },
        onClick: onClickScrollToImg,
        maintainAspectRatio: false,
        scales: {
            yAxes: [{
                gridLines: {display: false},
                display: false,
                ticks: {
                    max: 65,
                    min: 5
                }
            }],
            xAxes: [{}]
        },
        legend: {
            display: false,
        },
        tooltips: {
            callbacks: {
                label: function(tooltipItem, data) {
                    var label = data.datasets[tooltipItem.datasetIndex].label || '';
                    label = label.replace('ineage ', '');
                    label += ': Day ';
                    label += tooltipItem.xLabel;
                    return label;
                }
            }
        }
    }
}
new Chart(
    document.getElementById('lineageChart1').getContext('2d'),
    setXRange(chart_config, -60, 175)
);
new Chart(
    document.getElementById('lineageChart2').getContext('2d'),
    setXRange(chart_config, 980, 1100)
);
new Chart(
    document.getElementById('lineageChart3').getContext('2d'),
    setXRange(chart_config, 1810, 1880)
);
function setXRange(config, min, max) {
    let cfg = Object.assign({}, config)
    cfg.options.scales.xAxes[0].ticks = {
        min: min,
        max: max,
        maxRotation: 0,
        display: false
    };
    cfg.options.scales.xAxes[0].gridLines = {
        display: false,
        drawBorder: false
    };
    return cfg;
}
function onClickScrollToImg(event, points) {
    if (points[0]) {
        var p = points[0];
        var chartData = p['_chart'].config.data;
        var imageId = chartData.datasets[p._datasetIndex].data[p._index].label;
        window.location.href = `./#${imageId}`;
        window.scrollBy(0, -80);
        var targetEl = document.getElementById(`${imageId}`)
        targetEl.style.transition = 'background-color 1s ease';
        targetEl.style.backgroundColor = '#333';
        setTimeout(
            () => targetEl.style.backgroundColor = 'inherit',
            1000
        )
    }
}

</script>
        