---
layout: base
---

<div class="container">

  <div class="datalist-wrapper">
    <input type="text" id="story-search" name="story-search">
    <datalist id="story-list">
      {% for page in site.pages %}
        {% if page.paper and page.figure %}
        {% assign path = page.path | replace: ".md", "" %}
          {% for data in site.data %}
            {% if data[0] == page.paper %}
              {% for config in data[1] %}
                {% if config[0] == page.figure %}
                  {% assign name = config[1].Name %}
                  {% assign channels = config[1].Groups | map: "Channels" %}
                  <div data-value="{{name}}" data-channels="{{ channels | join: " " }}">
                    <a href="/{{path}}.html">{{name}}</a>
                  </div>
                  {% break %}
                {% endif %}
              {% endfor %}
              {% break %}
            {% endif %}
          {% endfor %}
        {% endif %}
      {% endfor %}
    </datalist>
  </div>

  <script>
    const match_value = (v) => {
      try {
        const match = new RegExp(v, 'i');
        return (str) => str.match(match);
      }
      catch {
        return (str) => true;
      }
    };
    const search = document.getElementById('story-search');
    const stories = document.getElementById('story-list');
    search.addEventListener('input', () => {
      for (const story of Array.from(stories.children)) {
        const value = story.dataset.value;
        const match = match_value(search.value);
        const channels = story.dataset.channels.split(' ');
        const found = [value].concat(channels).find(match);
        const display = found ? 'block' : 'none';
        story.style.display = display;
      }
    });
  </script>
  <section id="main_content">
    {{ content }}
  </section>
</div>
