--- 
layout: base 
---

<link rel="stylesheet" href="{{ '/assets/css/osd.css?v=' | append: site.github.build_revision | relative_url }}">

<div id="content">

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-9">
                <div id="openseadragon1" class="openseadragon"></div>
                <div id="legend" class="position-absolute text-white p-2 bg-trans" style="top: 5px; right:20px">
                    <ul class="list-unstyled">
                        <li>
                            <span class="badge legend-color legend-green">&nbsp;</span>
                            <span class="legend-label px-2"></span>
                        </li>
                        <li>
                            <span class="badge legend-color legend-white">&nbsp;</span>
                            <span class="legend-label px-2"></span>
                        </li>
                        <li>
                            <span class="badge legend-color legend-red">&nbsp;</span>
                            <span class="legend-label px-2"></span>
                        </li>
                        <li>
                            <span class="badge legend-color legend-blue">&nbsp;</span>
                            <span class="legend-label px-2">DNA</span>
                        </li>
                    </ul>
                </div>
                <div class="position-absolute bg-trans" style="right: 30px; top: 30vh;">
                    <div class="btn-group-vertical">
                        <a class="btn" id="zoom-home" href="#zoom-home" title="Zoom home">
                            <i class="fas fa-home"></i>
                        </a>
                        <a class="btn" id="zoom-out" href="#zoom-out" title="Zoom out">
                            <i class="fas fa-search-minus"></i>
                        </a>
                        <a class="btn" id="zoom-in" href="#zoom-in" title="Zoom in">
                            <i class="fas fa-search-plus"></i>
                        </a>
                    </div>
                </div>

            </div>
            <div class="order-xs-first col-sm-3">
                <h2 class="h5 mt-1 mb-2">
                    {{ page.title }}
                </h2>
                <p>
                    {{ page.description }}
                </p>
                <p class="mb-1 mt-5">Select a marker group:</p>
                <div class="nav flex nav-pills">
                    <a class="nav-link active" id="channel-group-1" data-toggle="pill" href="javascript:;" title="channel-group-1" aria-selected="true">Cycle 1</a>
                    <a class="nav-link" id="channel-group-2" data-toggle="pill" href="javascript:;" title="channel-group-2" aria-selected="false">Cycle 2</a>
                    <a class="nav-link" id="channel-group-3" data-toggle="pill" href="javascript:;" title="channel-group-3" aria-selected="false">Cycle 3</a>
                    <a class="nav-link" id="channel-group-4" data-toggle="pill" href="javascript:;" title="channel-group-4" arial-selected="false">Cycle 4</a>
                    <a class="nav-link" id="channel-group-5" data-toggle="pill" href="javascript:;" title="channel-group-4" arial-selected="false">Cycle 5</a>
                    <a class="nav-link" id="channel-group-6" data-toggle="pill" href="javascript:;" title="channel-group-4" arial-selected="false">Cycle 6</a>
                    <a class="nav-link" id="channel-group-7" data-toggle="pill" href="javascript:;" title="channel-group-4" arial-selected="false">Cycle 7</a>
                    <a class="nav-link" id="channel-group-8" data-toggle="pill" href="javascript:;" title="channel-group-4" arial-selected="false">Cycle 8</a>
                    <a class="nav-link" id="channel-group-9" data-toggle="pill" href="javascript:;" title="channel-group-4" arial-selected="false">Cycle 9</a>
                </div>

                <p class="mb-2 mt-5">Figure from:</p>
                <p>Lin JR, Izar B, Wang S, Yapp C, Mei S, Shah P, Santagata S, Sorger PK. Highly multiplexed immunofluorescence imaging of human tissues and tumors using t-CyCIF and conventional optical microscopes. eLife. 2018 Jul 11;7:e31657. PMID: 29993362</p>
            </div>
        </div>
    </div>

</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4"
    crossorigin="anonymous"></script>
<script defer src="https://use.fontawesome.com/releases/v5.0.2/js/all.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/openseadragon/2.3.1/openseadragon.min.js"></script>
<script type="text/javascript">
    const images = [
        [{
                // name: "{{ page['image name'] }}",
                name: 'TMA0809-prerendered',
                width: 16458,
                height: 11749,
                levels: 4
            },
            {
                name: "#26531POST",
                width: 31616,
                height: 22272,
                levels: 5,
            }
        ],
    ];
    const numColumns = 1;
    const numRows = images.length;

    const cgs = [{
            name: "EMT Markers",
            path: "0___Hoechst1---1___A488---2___A555---3___A647"
        },
        {
            name: "Proliferation",
            path: "4___Hoechst2---5___pAKT---6___empty---7___5hmC"
        },
        {
            name: "Immune Markers",
            path: "8___Hoechst3---9___Ki67---10___pCTD2---11___p21"
        },
        {
            name: "Signaling",
            path: "12___Hoechst4---13___pERK---14___CD45---15___pS6_235"
        },
        {
            name: "Signaling",
            path: "16___Hoechst5---17___EGFR---18___VEGFR---19___HER2"
        },
        {
            name: "Signaling",
            path: "20___Hoechst6---21___E-Caderin---22___Keratin---23___Vimentin"
        },
        {
            name: "Signaling",
            path: "24___Hoechst7---25___PCNA---26___PD-L1---27___Beta-Catenin"
        },
        {
            name: "Signaling",
            path: "28___Hoechst8---29___MET---30___CD4---31___NGFR"
        },
        {
            name: "Signaling",
            path: "32___Hoechst9---33___Mitotracker---34___ActinRed---35___HCSred"
        }
    ];

    const base = "https://s3.amazonaws.com/www.cycif.org/lin-elife-2018";

    const tileSources = {};

    const viewer = OpenSeadragon({
        id: "openseadragon1",
        prefixUrl: "https://cdnjs.cloudflare.com/ajax/libs/openseadragon/2.3.1/images/",
        //minScrollDeltaTime: 0,
        //animationTime: 0,
        // sequenceMode: true,
        preserveViewport: true,
        showNavigator: true,
        navigatorPosition: "BOTTOM_RIGHT",
        zoomInButton: "zoom-in",
        zoomOutButton: "zoom-out",
        homeButton: "zoom-home",
    });

    const spacingFraction = 0.05;
    const flatten = function (items) {
        return items.reduce(function (flat, item) {
            return flat.concat(item)
        })
    };
    const maxImageWidth = flatten(images).reduce(function (max, img) {
        return Math.max(max, img.width)
    }, 0);
    const maxImageHeight = flatten(images).reduce(function (max, img) {
        return Math.max(max, img.height)
    }, 0);

    const cellHeight = (1 + spacingFraction) / numRows - spacingFraction;
    const cellWidth = cellHeight * maxImageWidth / maxImageHeight;

    for (var yi = 0; yi < numRows; yi++) {
        const y = yi * (cellHeight + spacingFraction);

        for (var xi = 0; xi < numColumns; xi++) {
            const image = images[yi][xi];
            const displayHeight = (1 - (numRows - 1) * spacingFraction) / numRows * image.height / maxImageHeight;
            const displayWidth = displayHeight * image.width / image.height
            const x = xi * (cellWidth + spacingFraction) + (cellWidth - displayWidth) / 2;

            for (var j = 0; j < cgs.length; j++) {
                const cg = cgs[j];
                viewer.addTiledImage({
                    tileSource: {
                        height: image.height,
                        width: image.width,
                        tileSize: 1024,
                        maxLevel: image.levels,
                        getTileUrl: function (level, x, y) {
                            return base + "/" + image.name + "/" + cg.path + "/" + (image.levels - level) +
                                "_" + x + "_" + y + ".jpg";
                        }
                    },
                    x: x,
                    y: y,
                    width: displayWidth,
                    opacity: cg === cgs[0] ? 1 : 0,
                    // preload: true,
                    success: function (data) {
                        const item = data.item;
                        if (!tileSources.hasOwnProperty(cg.path)) {
                            tileSources[cg.path] = [];
                        }
                        tileSources[cg.path].push(item);
                    }
                });
            }
            const titleElt = $('<p>');
            const title = 'TMA0809';
            titleElt.addClass('overlay-title').text(title);
            viewer.addOverlay({
                element: titleElt[0],
                x: x + displayWidth / 2,
                y: y,
                placement: 'BOTTOM',
                checkResize: false
            });
            viewer.addOverlay({
                x: x,
                y: y,
                width: displayWidth,
                height: image.height / image.width * displayWidth,
                className: 'slide-border'
            });

        }

    }

    $(function () {
        viewer.viewport.fitBoundsWithConstraints(
            new OpenSeadragon.Rect(-0.2, -0.2, 1.3, 1.3), true
        );
    });

    // Change view
    const changeView = function (e) {
        for (var property in tileSources) {
            if (tileSources.hasOwnProperty(property)) {
                if (property === e.data.cg) {
                    for (var i = 0; i < tileSources[property].length; i++) {
                        const tileSource = tileSources[property][i];
                        tileSource.setOpacity(1);
                    }
                    $("#" + property).parent().addClass('active');
                } else {
                    for (var i = 0; i < tileSources[property].length; i++) {
                        const tileSource = tileSources[property][i];
                        tileSource.setOpacity(0);
                    }
                    $("#" + property).parent().removeClass('active');
                }
            }
        }
        updateLegend(e.data.cg);
    };

    // Update legend from encoded channel group id string
    const updateLegend = function (cg) {
        const label_text = cg.replace(/\d+___/g, '').split('---').slice(1);
        $('#legend .legend-label').slice(0, 3).each(function (i, elt) {
            return $(elt).text(label_text[i].replace('aderin', 'adherin'))
        });
    }

    $("#channel-group-1").click({
        cg: "0___Hoechst1---1___A488---2___A555---3___A647",
        cgLabel: "E-Caderin___Keratin___Vimentin"
    }, changeView);
    $("#channel-group-2").click({
        cg: "4___Hoechst2---5___pAKT---6___empty---7___5hmC",
        cgLabel: "PCNA___Ki67___p21"
    }, changeView);
    $("#channel-group-3").click({
        cg: "8___Hoechst3---9___Ki67---10___pCTD2---11___p21",
        cgLabel: "CD45___CD4___PD-L1"
    }, changeView);
    $("#channel-group-4").click({
        cg: "12___Hoechst4---13___pERK---14___CD45---15___pS6_235",
        cgLabel: "pERK___pS6_235___Beta-Catenin"
    }, changeView);
    $("#channel-group-5").click({
        cg: "16___Hoechst5---17___EGFR---18___VEGFR---19___HER2",
        cgLabel: "pERK___pS6_235___Beta-Catenin"
    }, changeView);
    $("#channel-group-6").click({
        cg: "20___Hoechst6---21___E-Caderin---22___Keratin---23___Vimentin",
        cgLabel: "pERK___pS6_235___Beta-Catenin"
    }, changeView);
    $("#channel-group-7").click({
        cg: "24___Hoechst7---25___PCNA---26___PD-L1---27___Beta-Catenin",
        cgLabel: "pERK___pS6_235___Beta-Catenin"
    }, changeView);
    $("#channel-group-8").click({
        cg: "28___Hoechst8---29___MET---30___CD4---31___NGFR",
        cgLabel: "pERK___pS6_235___Beta-Catenin"
    }, changeView);
    $("#channel-group-9").click({
        cg: "32___Hoechst9---33___Mitotracker---34___ActinRed---35___HCSred",
        cgLabel: "pERK___pS6_235___Beta-Catenin"
    }, changeView);
    updateLegend("0___Hoechst1---1___A488---2___A555---3___A647");

    $("#help").click(function () {
        $('#readme').modal('show')
    });

    $(document).ready(function () {
        // $('#readme').modal('show');
        viewer.viewport.goHome();	
        // console.log('{{page.tests2}}');
        // "{% for item in page.tests2 %}"
        //     "{% for pair in item %}"
        //         console.log("{{ pair[0] }}: {{ pair[1] }}");
        //     "{% endfor %}"
        //     console.log('-----');
        // "{% endfor %}"
    });
</script>